<!DOCTYPE html>
<html>
<head>
<title>Login</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="auth">
<h2>Login</h2>

{% with messages = get_flashed_messages() %}
{% if messages %}
<p class="error">{{ messages[0] }}</p>
{% endif %}
{% endwith %}

<form method="POST">
<input name="username" placeholder="Username" required>
<input name="password" type="password" placeholder="Password" required>
<button>Login</button>
</form>

<p><a href="/register">Create account</a></p>
</div>

</body>
</html>